.Ads
{
    background-image: linear-gradient(rgb(24, 8, 165), rgb(155, 136, 240));
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* height:320px; */
    margin-bottom: 20px;
}
.contents{
    color: white;
    /* width:430px; */

    padding-top: 70px;
}


.button_div{
    padding-top: 15px;
}
button
{
    background-color: coral;
    color:cornsilk;
    width:197px;
    height:38px;
    border-radius: 8px;
   
}