.Ads
{
    background-image: linear-gradient(rgb(24, 8, 165), rgb(155, 136, 240));
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* height:320px; */
    margin-bottom: 20px;
}
.contents{
    color: white;
    /* width:430px; */

    padding-top: 70px;
}

@media only screen and (max-width: 600px) {
    .image img {
      
          width:60%;
      
    }
    .Ads{
        text-align: center;
    }
  }

.button_start{
    margin-top: 10px;
}

.button_div
{
    background-color: coral;
    color:cornsilk;
    width:197px;
    height:38px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
   
}