.rightside{
    padding-left: 250px;
    background-color: #E5E5E5;
}
.pagecontents{
    margin-left: 50px;
   
}
/* .ads{
    display:flex;
    flex-wrap: wrap;
} */
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;

}
