.app{
    display: flex;
    flex-direction: column;
}
.rightside{
   
    background-color: #E5E5E5;
}

@media only screen and (min-width: 600px) {
    .rightside {
      padding-left: 250px;
    }
  }
.pagecontents{
    padding-left: 70px;
    padding-right: 70px;
   
}
/* .ads{
    display:flex;
    flex-wrap: wrap;
} */



.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;

}
